/* Header Banner */
.wy-nav-content {
    position: relative;
}

.wy-nav-content::before {
    content: "";
    display: block;
    width: 100%;
    height: 180px;
    margin-bottom: 30px;
    background-image: url("americanexpress-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* Main Title */
.wy-nav-content h1 {
    font-size: 38px;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 25px;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .wy-nav-content::before {
        height: 120px;
        margin-bottom: 22px;
        border-radius: 6px;
    }

    .wy-nav-content h1 {
        font-size: 30px;
    }

}

.activate-button {
    width: 220px;
    height: auto;
    display: block;
    margin: 20px auto 30px auto;
}
